$colors: (
	primary: (
		1: hsl(206, 6%, 79%),
		2: hsl(270, 7%, 64%),
		3: hsl(276, 100%, 81%),
		4: hsl(276, 55%, 52%),
		5: hsl(271, 15%, 43%),
		6: hsl(271, 36%, 24%)
	),
	secondary: (
		1: hsl(0, 0%, 100%),
		2: hsl(270, 20%, 96%),
		3: hsl(289, 100%, 72%),
		4: hsl(271, 36%, 24%)
	),
	gradients: (
		normal: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%)),
		inverted: linear-gradient(to left, hsl(264, 100%, 61%), hsl(293, 100%, 63%))
	)
);
