@use "../abstracts/colors";
@use "../abstracts/functions";
@use "../base/typography";

.app {
	position: relative;
	display: grid;
	overflow: hidden;
	border: 8px solid white;
	border-radius: 30px;
	width: 80%;

	&_header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		column-gap: 0.5em;
		padding: 1.875em 1em 0.75em 1em;
		border-radius: 0 0 5px 5px;
		background-image: map-get(colors.$colors, "gradient");

		.user {
			display: flex;
			align-items: center;
			gap: 0.5em;

			& > img {
				width: 30px;
				height: 30px;
				border: 2px solid white;
				border-radius: 50%;
			}

			& > div {
				display: flex;
				flex-direction: column;
				gap: 0.15em;
			}

			&_name {
				font-size: 11px;
				font-weight: map-get($map: typography.$font-weights, $key: "medium");
			}

			&_status {
				font-size: 8px;
				color: functions.map-deep-get(colors.$colors, "primary", 3);
			}
		}
	}

	&_chat {
		display: grid;
		row-gap: 1em;
		padding: 0.75em 0.5em;

		.sent {
			align-items: flex-start;

			.message {
				border-radius: 10px 10px 10px 5px;
				color: functions.map-deep-get(colors.$colors, "primary", 4);
				background-color: hsl(272, 41%, 93%);
			}
		}

		.received {
			align-items: flex-end;

			.message {
				border-radius: 10px 10px 5px 10px;
				color: functions.map-deep-get(colors.$colors, "primary", 5);
				background-color: white;
			}
		}

		.message-group {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
		}

		.message-media {
			display: flex;
			justify-content: flex-end;
			gap: 0.5em;

			> img {
				width: 40px;
				border-radius: 10px;
			}
		}

		.message {
			max-width: 60%;
			font-size: 8px;
			line-height: 1.4;
			padding: 0.75em 1em;
		}

		&_input {
			padding: 0.5em;
		}
	}
}

.notch {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 18px;
	border-radius: 0 0 15px 15px;
	background-color: white;
}
