@use "../abstracts/colors";
@use "../abstracts/functions";
@use "../base/typography";

.app {
	position: relative;
	display: grid;
	overflow: hidden;
	border: 10px solid white;
	border-radius: 30px;
	width: 247px;
	background-color: functions.map-deep-get(colors.$colors, "secondary", 2);
	box-shadow: 4px 5px 20px 7px #69696938;

	&_header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		column-gap: 0.5em;
		padding: 1.875em 1em 0.75em 1em;
		border-radius: 0 0 5px 5px;
		background-image: functions.map-deep-get(colors.$colors, "gradients", "normal");
		box-shadow: 0px 2px 20px 4px #48484854;
		z-index: 1;

		.user {
			display: flex;
			align-items: center;
			gap: 0.5em;

			& > img {
				width: 24px;
				height: 24px;
				border: 2px solid white;
				border-radius: 50%;
			}

			& > div {
				display: flex;
				flex-direction: column;
				gap: 0.15em;
			}

			&_name {
				font-size: 11px;
				font-weight: map-get($map: typography.$font-weights, $key: "medium");
			}

			&_status {
				font-size: 8px;
				color: functions.map-deep-get(colors.$colors, "primary", 3);
			}
		}
	}

	&_chat {
		display: grid;
		row-gap: 1em;
		padding: 0.688em 0.5em;
		background-color: functions.map-deep-get(colors.$colors, "secondary", 2);

		.sent {
			align-items: flex-start;

			.message {
				border-radius: 10px 10px 10px 5px;
				color: functions.map-deep-get(colors.$colors, "primary", 4);
				background-color: hsl(272, 41%, 93%);
			}

			.radio {
				border-radius: 10px 10px 10px 5px;
			}
		}

		.received {
			align-items: flex-end;

			.message {
				border-radius: 10px 10px 5px 10px;
				color: functions.map-deep-get(colors.$colors, "primary", 5);
				background-color: white;
			}
		}

		.message-group {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
		}

		.message-media {
			display: flex;
			justify-content: flex-end;
			gap: 0.5em;

			> img {
				width: 40px;
				border-radius: 10px;
			}
		}

		.message {
			max-width: 60%;
			font-size: 8px;
			line-height: 1.4;
			padding: 0.75em 1em;
		}

		.radio {
			width: 75%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.563rem 1rem 0.563rem 0.5rem;
			background-image: functions.map-deep-get(colors.$colors, "gradients", "inverted");

			> span:first-child {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 8px;
				font-weight: map-get(typography.$font-weights, "regular");
			}

			.price {
				font-size: 12px;
				font-weight: map-get(typography.$font-weights, "bold");
			}
		}

		&_input {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.313rem 0.5rem 0.313rem 1.5rem;
			border-radius: 20px;
			font-size: 10px;
			color: functions.map-deep-get(colors.$colors, "primary", 1);
			background-color: white;
		}
	}
}

.notch {
	position: absolute;
	top: 0;
	left: 21%;
	width: 57%;
	height: 18px;
	border-radius: 0 0 15px 15px;
	background-color: white;
	z-index: 2;
}
