@use "../abstracts/breakpoints" as bp;
@use "../abstracts/colors";
@use "../abstracts/functions";
@use "../base/typography";

.hero {
	text-align: center;

	@include bp.media-lg {
		text-align: left;
	}

	h1 {
		font-size: clamp(2rem, 10vw, 2.5rem);
		font-weight: map-get($map: typography.$font-weights, $key: "medium");
		margin-bottom: 1.25rem;
		color: functions.map-deep-get(colors.$colors, "primary", 6);
	}

	p {
		max-width: clamp(30ch, 75vw, 45ch);
		line-height: 1.7;
		color: functions.map-deep-get(colors.$colors, "primary", 2);

		@include bp.media-lg {
			line-height: 1.75;
		}
	}
}
