@use "../abstracts/breakpoints" as bp;
@use "../abstracts/colors";
@use "../abstracts/functions";

body {
	display: grid;
	gap: 4rem;
	place-content: center;
	justify-items: center;
	background-color: #fafafa;

	@include bp.media-lg {
		grid-auto-flow: column;
		align-items: center;
		gap: 6rem;
	}

	@include bp.media-xl {
		gap: 8rem;
	}
}

.pill-wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	z-index: -10;

	.pill {
		width: 510px;
		height: 125%;
		position: absolute;
		border-radius: 100vw;

		&.left {
			top: 0;
			left: 0;
			transform: translate(
				clamp(-21rem, 22.143vw + -25.429rem, 10rem),
				clamp(-42.5rem, 28.571vw + -48.214rem, -22.5rem)
			);
			background-image: functions.map-deep-get(colors.$colors, "gradients", "vertical");
		}

		&.right {
			bottom: 0;
			right: 0;
			transform: translate(
				calc(clamp(-21rem, 22.143vw + -25.429rem, 10rem) * -1),
				calc(clamp(-42.5rem, 28.571vw + -48.214rem, -22.5rem) * -1)
			);
			background-color: #f9f4fa;
		}
	}
}
