@use "../abstracts/colors";
@use "../abstracts/functions";

body {
	display: grid;
	row-gap: 4rem;
	place-content: center;
	justify-items: center;
	padding-inline: 2rem;
	background-color: functions.map-deep-get(colors.$colors, "secondary", 2);
}

.pill-wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	z-index: -10;

	.pill {
		width: 510px;
		height: 1000px;
		position: absolute;
		border-radius: 100vw;

		&.left {
			top: -30rem;
			left: 0;
			transform: translateX(clamp(-21rem, 22.857vw + -25.571rem, -5rem));
			background-image: functions.map-deep-get(colors.$colors, "gradients", "vertical");
		}

		&.right {
			bottom: -30rem;
			right: 0;
			transform: translateX(calc(clamp(-21rem, 22.857vw + -25.571rem, -5rem) * -1));
			background-color: #ede7ef;
		}
	}
}
